.hero {
  &--full {
    background-size: cover;
    margin-bottom: 7rem;
  }

  &--home {
    height: 100vh;
  }

  &--sections {
    height: 350px;
    position: relative;
    background-position: top center;
  }

  &--category {
    height: calc( 100vh - 130px);
    background-position: top center;
  }
}