.product{

  &__img-box {

  }

  &__img-list {
    list-style: none;
  }

  &__img-item {
    margin-bottom: 3rem;
  }

  &__detail-box {
    text-align: center;
  }

  &__color-box{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
  }

  &__variation-item {
    list-style: none;
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0 0.5rem;
    min-width: 4.1rem;
    height: 4.1rem;
    line-height: 3.8rem;

    &--color {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      padding: 0.3rem;
    }
  }
}

.item__default--selected {
  background-color: $color-black;
  color: $color-white;
}

.item-container {
  margin-bottom: 3rem;
}

.item{
  &__color{
    &--selected {
    }
  }
}

.variation-section {
  .value{
    select{
      //display: none !important;
    }
  }
}