.slider-product {
  padding-bottom: 7rem;
}

.carousel-item {
  text-align: center;
}

.carousel-item__brand {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.carousel-item__name,
.carousel-item__price {
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}