.btn{

  &__pagination {
    border: 0.1rem solid #d3ced2;
    padding: 1.3rem;
    line-height: 1.5rem;

    &--active {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.btn-text {
  &:hover,
  &:active {
    color: $color-primary;
  }

  &--category-home{
    color: $color-text-secondary;
    border-bottom: 0.1rem solid $color-black;
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2rem;

    &:hover,
    &:active {
      border-bottom-color: $color-primary;
    }
  }
}

