//COLORS
$color-primary: #84754e;
$color-sss: rgba(119, 102, 66, .8);
$color-primary-rgba: rgba(133, 117, 77, 80);

$color-text-primary: #101820;
$color-text-secondary: #666;
$color-white: #fff;
$color-black: #000;

$border-color-secondary: #e4e4e4;
$border-color-tertiary: #f0f0f0;

$background-color-input: #f7f7f7;
$background-color-border-category: #f1d3d5;
$background-color-btn-primary: #f0f0f0;
$background-color-btn-secondary: #222;

//FONT-SIZE
$default-font-size: 1.6rem;
$font-size-shopping-cart: 1.2rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 1.5rem;
$gutter-vertical: 3rem;

//padding

$content-padding: 1.5rem;


//woocommerce

$woocommerce:   	$color-primary !default;
$green:         	#7ad03a !default;
$red:           	#a00 !default;
$orange:        	#ffba00 !default;
$blue:          	#2ea2cc !default;

$primary:           $color-primary !default;                                  // Primary color for buttons (alt)
$primarytext:       desaturate(lighten($primary, 50%), 18%) !default;    // Text on primary color bg

$secondary:         desaturate(lighten($primary, 40%), 21%) !default;    // Secondary buttons
$secondarytext:     desaturate(darken($secondary, 60%), 21%) !default;   // Text on secondary color bg

$highlight:         adjust-hue($primary, 150deg) !default;               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%) !default;  // Text on highlight color bg

$contentbg:         #fff !default;                                     // Content BG - Tabs (active state)
$subtext:           #767676 !default;                                  // small, breadcrumbs etc

// export vars as CSS vars
:root {
  --woocommerce: #{$woocommerce};
  --wc-green: #{$green};
  --wc-red: #{$red};
  --wc-orange: #{$orange};
  --wc-blue: #{$blue};
  --wc-primary: #{$primary};
  --wc-primary-text: #{$primarytext};
  --wc-secondary: #{$secondary};
  --wc-secondary-text: #{$secondarytext};
  --wc-highlight: #{$highlight};
  --wc-highligh-text: #{$highlightext};
  --wc-content-bg: #{$contentbg};
  --wc-subtext: #{$subtext};
}