//COLORS
$color-primary: #84754e;

$color-text-primary: #101820;
$color-text-secondary: #666;
$color-white: #fff;
$color-black: #000;

$border-color-secondary: #e4e4e4;
$border-color-tertiary: #f0f0f0;

$background-color-input: #f7f7f7;
$background-color-border-category: #f1d3d5;
$background-color-btn-primary: #f0f0f0;
$background-color-btn-secondary: #222;

//FONT-SIZE
$default-font-size: 1.6rem;
$font-size-shopping-cart: 1.2rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 1.5rem;
$gutter-vertical: 3rem;

//padding

$content-padding: 1.5rem;
